*{
    padding: 0;
    margin: 0;
}
header{
    height: 65px;
}
#navbar{
    height: 60px;
    background-color:#0f1111;
}
button{
    background-color: #f08004;
}

#logo{
    font-size: 25px;
    color:#f08004;
     
}
 a{
    color: white;
    margin-right: 200px;
    text-decoration: none;
 }
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
    background-color: darksalmon;
    
}
#logo{
    align-items: center;
    padding-left: 30px;
}